[submodule "orchestrator/unify-virtualizer"]
	path = orchestrator/virtualizer
	url = https://github.com/Ericsson/unify-virtualizer
[submodule "NFs/docker/elastic-router/ctrl_app/DoubleDecker"]
	path = NFs/docker/elastic-router/ctrl_app/DoubleDecker
	url = https://github.com/Acreo/DoubleDecker
